@import '../../../styles';

.Input {
  @include inputStyles($secondary, $fade-white);
  min-width: 60%;
  max-width: 80%;
  border-radius: pxToRem(5px) 0 0 pxToRem(5px);

  &::placeholder {
    color: $secondary;
  }

  &:focus {
    outline: none;
  }

  @include breakpoint(md) {
    min-width: 5%;
    width: calc(90% - 300px);
  }

  @include breakpoint(sm) {
    border-radius: 0;
    max-width: calc(100% - 28px);
  }
}
